.addbuyer-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .addbuyer-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }

  
  .addbuyer-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .addbuyer-input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .addbuyer-textarea {
    height: 200px; /* Increase height to make the message box bigger */
  }
  
  .addbuyer-btn {
    background-color: #0077B6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addbuyer-btn:hover {
    background-color: #005d8f;
  }
   