.contact-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contact-heading {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .contact-input,
  .contact-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .contact-textarea {
    height: 200px; /* Increase height to make the message box bigger */
  }
  
  .contact-btn {
    background-color: #0077B6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn:hover {
    background-color: #005d8f;
  }
  
  @media screen and (max-width: 768px) {
    .contact-form {
      padding: 20px;
    }
  
    .contact-input {
      margin-right: 0;
    }
  
    .contact-label {
      font-size: 16px;
    }
  
    .contact-btn {
      width: 100%;
    }
  }
  