.listings-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.listings-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px; /* Update top margin to desired value */
}

.house-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
}

.house-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.house-title {
  font-size: 18px;
  margin-top: 10px;
  color: #007bff; /* Add blue color to image titles */
  text-decoration: none; /* Remove underline from image titles */
  cursor: pointer; /* Add pointer cursor for hover effect */
}

.house-title:hover {
  text-decoration: underline; /* Add underline on hover */
}

.house-image {
  max-width: 100%;
  max-height: 2in;
  object-fit: contain;
  padding-top: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin: 0 8px;
}

.pagination-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #f8f9fa;
  color: #000;
  font-weight: bold;
}

