.register-form {
  max-width: 500px;
  margin: 0;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-heading {
  margin-top: 0;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-label {
  margin: 10px;
}

.register-input {
  padding: 5px;
  border-radius: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin: 5px;
  width: 200px;
  height: 30px;
}

.register-input.invalid {
  border-color: #ff0000;
}

.register-error {
  margin: 5px;
  font-size: 12px;
  color: #ff0000;
}

.register-btn {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.register-text {
  margin: 10px;
}

.register-link {
  color: #007bff;
  text-decoration: none;
}


  