/* Sidebar styling */
.buy-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    width: 1000px;
  }
  
  .sidebar {
    width: 30%;
    margin-right: 20px;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .sidebar-options {
    margin-bottom: 20px;
  }
  
  .category-buttons {
    display: flex;
    flex-wrap: wrap;
  }
  
  .category-buttons button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 16px;
  }
  
  .category-buttons button:hover {
    background-color: #e0e0e0;
  }
  
  .sidebar-options h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .price-range {
    display: flex;
    flex-direction: column;
  }
  
  .price-range label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .price-range input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-size: 16px;
  }
  
  
  