nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #48CAE4;
  color: #fff;
  padding: 18px;
  margin: -18px;
}

nav div.main {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav div.login-register {
  display: flex;
  align-items: center;
}

nav div.login-register li {
  margin-right: 10px;
}

nav div.login-register li:last-child {
  margin-right: 0;
}

nav a:hover {
  color: #023E8A;
  transition: color 0.2s ease-in-out;
}

