main {
    margin-left: 250px;
  }
  
  .dashboard-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
  }
  
  
  .dashboard-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px #eee;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .dashboard-box h2 {
    margin-bottom: 10px;
  }
  
  .dashboard-box p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  body {
    background-color: #f0f5f9;
  }
  